<h1>
  {{title}}
</h1>
<form (submit)="create()">
  <input name="todo" type="text" [(ngModel)]="todo.text" placeholder="Add Todo" />
  <input name="todo" type="date" [(ngModel)]="todo.dueAt" placeholder="Due Date" />
  <button>Add Todo</button>
</form>
<ul>
  <li *ngFor="let _todo of todoRef.on('change') | async">
    <input name="_todo.id" [(ngModel)]="_todo.text" />
    <button (click)="update(_todo)">Update</button>
    <button (click)="remove(_todo)">Remove</button>
  </li>
</ul>
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas *ngIf="lineChartData.length > 0" baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
    </div>
  </div>
</div>